{% extends "base-generic.html" %}

{% block content %}
    <h1>{{ challenge.name  }} <a href="https://anilist.co/forum/thread/{{ challenge.thread_id  }}">[Thread]</a></h1>

    <p>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      {% if filled_code %}
      <h2>Your Challenge Code to Paste</h2>

      <a href="https://anilist.co/forum/thread/{{ challenge.thread_id }}/comment/{{ comment_id }}">Submission Link</a>

      <hr>
      
      <p>
	{{ filled_code|linebreaks }}
      </p>

      <hr>
      
      {% endif %}
      <form method="post">
	{% csrf_token %}

	<label for="challenge-start">Challenge Start Date</label>
	<input type="text" name="challenge-start" id="challenge-start" value="DD/MM/YYYY">

	<label for="challenge-finish">Challenge Finish Date</label>
	<input type="text" name="challenge-finish" id="challenge-finish" value="DD/MM/YYYY"><br><br>

	{% for requirement in requirements %}

	{% if requirement.bonus %}
	<h2>Bonus Requirement {{ requirement.number }}</h2>
	{% else %}
	<h2>Requirement {{ requirement.number }}</h2>
	{% endif %}
	
	<p>{{ requirement.text }}</p>

	{% if requirement.bonus %}
	<label for="completed-bonus-{{ requirement.number }}">Completed</label>
	<input type="checkbox" name="completed-bonus-{{ requirement.number }}" id="completed-bonus-{{ requirement.number }}" value="off">
	{% else %}
	<label for="completed-{{ requirement.number }}">Completed</label>
	<input type="checkbox" name="completed-{{ requirement.number }}" id="completed-{{ requirement.number }}" value="off">
	{% endif %}

	{% if requirement.mode != "D" %}
	
	{% if requirement.bonus %}
	<label for="mode-bonus-{{ requirement.number }}">Difficulty Mode</label>
	<select name="mode-bonus-{{ requirement.number }}" id="mode-bonus-{{ requirement.number }}">
	{% else %}
	<label for="mode-{{ requirement.number }}">Difficulty Mode</label>
	<select name="mode-{{ requirement.number }}" id="mode-{{ requirement.number }}">
	{% endif %}
	    
	  {% if requirement.mode == "E" %}
	  <option value="E" selected>Easy</option>
	  {% else %}
	  <option value="E">Easy</option>
	  {% endif %}

	  {% if requirement.mode == "N" %}
	  <option value="N" selected>Normal</option>
	  {% else %}
	  <option value="N">Normal</option>
	  {% endif %}

	  {% if requirement.mode == "H" %}
	  <option value="H" selected>Hard</option>
	  {% else %}
	  <option value="H">Hard</option>
	  {% endif %}

	  {% if requirement.mode == "B" %}
	  <option value="B" selected>Bonus</option>
	  {% else %}
	  <option value="B">Bonus</option>
	  {% endif %}
	</select>
	{% endif %}

	<br><br>

	{% if requirement.bonus %}
	  <label for="requirement-start-bonus-{{ requirement.number }}">Start Date</label>
	  <input type="text" name="requirement-start-bonus-{{ requirement.number }}" id="requirement-start-bonus-{{ requirement.number }}" value="DD/MM/YYYY">

	  <label for="requirement-finish-bonus-{{ requirement.number }}">Finish Date</label>
	  <input type="text" name="requirement-finish-bonus-{{ requirement.number }}" id="requirement-finish-bonus-{{ requirement.number }}" value="DD/MM/YYYY"><br><br>

	  <label for="requirement-anime-bonus-{{ requirement.number }}">Anime</label>
	  <input type="text" name="requirement-anime-bonus-{{ requirement.number }}" id="requirement-anime-bonus-{{ requirement.number }}" value="Anime Title">

	  <label for="requirement-link-bonus-{{ requirement.number }}">Link</label>
	  <input type="text" name="requirement-link-bonus-{{ requirement.number }}" id="requirement-link-bonus-{{ requirement.number }}" value="https://anilist.co/anime/00000/">

	  <br><br>

	  {% if requirement.extra %}
	  <label for="requirement-extra-bonus-{{ requirement.number }}">Extra</label>
	  <input type="text" name="requirement-extra-bonus-{{ requirement.number }}" id="requirement-extra-bonus-{{ requirement.number }}" value="{{ requirement.extra }}" size=100>
	  {% endif %}
	{% else %}
	  <label for="requirement-start-{{ requirement.number }}">Start Date</label>
	  <input type="text" name="requirement-start-{{ requirement.number }}" id="requirement-start-{{ requirement.number }}" value="DD/MM/YYYY">

	  <label for="requirement-finish-{{ requirement.number }}">Finish Date</label>
	  <input type="text" name="requirement-finish-{{ requirement.number }}" id="requirement-finish-{{ requirement.number }}" value="DD/MM/YYYY"><br><br>

	  <label for="requirement-anime-{{ requirement.number }}">Anime</label>
	  <input type="text" name="requirement-anime-{{ requirement.number }}" id="requirement-anime-{{ requirement.number }}" value="Anime Title">

	  <label for="requirement-link-{{ requirement.number }}">Link</label>
	  <input type="text" name="requirement-link-{{ requirement.number }}" id="requirement-link-{{ requirement.number }}" value="https://anilist.co/anime/00000/">

	  <br><br>

	  {% if requirement.extra %}
	  <label for="requirement-extra-{{ requirement.number }}">Extra</label>
	  <input type="text" name="requirement-extra-{{ requirement.number }}" id="requirement-extra-{{ requirement.number }}" value="{{ requirement.extra }}" size=100>
	
	  <br><br>
	  {% endif %}
	{% endif %}

	{% endfor %}
	
	<input type="submit" value="Submit">
      </form>
    </p>
{% endblock %}
