
{% extends "base-generic.html" %}

{% block content %}
<div class="row p-3 bg-primary text-light">
  <div class="w-100" style="text-align: center"><h1>Anime Challenge Tool</h1></div>
</div>

<div class="row">
  {% include "../partials/start-challenge-form.html" %}
  
  <div class="col-md p-3">
    <h2>Edit Your Challenges</h2>
    {% if user.name %}
    <div class="row">
      <div class="col-md pb-1">
	<form action="{% url 'awc:scan' %}" method='GET'>
	  <input class="btn btn-primary btn-block" type="submit" value="Scan">
	</form>
      </div>
      <div class="col-md pb-1">
	<a class="btn btn-primary btn-block" href="{% url 'awc:add-existing-submission' %}">Add</a>
      </div>
      <div class="col-md pb-1">
	<a class="btn btn-primary btn-block" href="{% url 'awc:profile-code' %}">Profile Code</a>
      </div>
    </div>
    <!--
    <ul>
      {% for submission in user.submission_set.all %}
      <li><a href="{% url 'awc:edit' submission.challenge %}">{{ submission.challenge }}</a></li>
      {% empty %}
      <p>No existing challenges found.</p>
      {% endfor %}
    </ul>
    -->
    {% include "../partials/edit-challenge-form.html" %}
    {% else %}
    <p class="text-center pt-5">
      <a href="https://anilist.co/api/v2/oauth/authorize?client_id={{ anilist_client_id  }}&redirect_uri={{ anilist_redirect_uri }}&response_type=code">Login with AniList</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
