{% extends "base-generic.html" %}

{% block content %}

<div class="row p-3 bg-primary text-light">
  <div class="w-100" style="text-align: center"><h1>Mion - AWC Tools</h1></div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
	{% load static %}
	<img src="{% static 'img/me1b_wink_a1_2.png' %}" class="img-response" style="height: 50vh">
      </div>
      <div class="col-lg-8">
	<p class="lead text-justify">
	  Mion is an open-source Django web application that helps manage Anime Watch Club and Manga Reading Club challenges. As of right now, it only is able to handle Monthly and Genre AWC challenges. Mion is able to make challenge forum posts for you, edit them, and delete them. No more having to parse through a challenge code manually to add an anime to a requirement.
	</p>
	
	<p class="lead text-center">
	  <a class="btn btn-primary btn-lg" href="{% url 'awc:index' %}">AWC Challenge Tool</a>
	  
	  <a class="btn btn-primary btn-lg" href="{% url 'awc:index' %}">MRC Challenge Tool</a>
	</p>
	
	<p>
	  Requires an <a href="https://anilist.co">Anilist</a> account. Source code is available on <a href="https://github.com/omn0mn0m/mion">GitHub</a>.
	</p>

	<div class="row">
	  <div class="col-md d-flex justify-content-center">
	  <div class="card" style="width: 15rem; height: 8rem;">
	    <div class="card-body">
	      <p class="card-text">Mion Sonozaki is the best friend I've ever had.</p>
	      <h6 class="card-subtitle mb-2 text-muted">- Keiichi Maebara</h6>
	    </div>
	  </div>
	  </div>
	  <div class="col-md d-flex justify-content-center">
	  <div class="card" style="width: 15rem; height: 8rem;">
	    <div class="card-body">
	      <p class="card-text">It's so cute, I want to take it home!</p>
	      <h6 class="card-subtitle mb-2 text-muted">- Rena Ryuugu</h6>
	    </div>
	  </div>
	  </div>
	  <div class="col-md d-flex justify-content-center">
	  <div class="card" style="width: 15rem; height: 8rem;">
	    <div class="card-body">
	      <p class="card-text">Nipah!</p>
	      <h6 class="card-subtitle mb-2 text-muted">- Rika Furude</h6>
	    </div>
	  </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
    
