<!-- Footer -->
<footer class="page-footer font-small bg-primary text-light pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Mion - Challenge Tools</h5>

	<p>This is an unofficial tool for use with AWC and MRC challenges. Mion is in no way affiliated with the AWC.</p>

	<p>Disclaimer: While the site tools have worked well for me, some bugs may still be encountered. Please use at your own risk.</p>
	<p>
	  Mion Sonozaki, Keiichi Maebara, Rena Ryuugu, and Rika Furude are trademarks of Ryukishi07 and 07th Expansion.
	</P>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Other Links</h5>

        <ul class="list-unstyled">
	  <li>
            <a class="text-light" href="https://anilist.co/forum/thread/13499">Discussion Thread</a>
          </li>
          <li>
            <a class="text-light" href="{% url 'awc:index' %}">Terms & Privacy</a>
          </li>
	  <li>
	    <a class="text-light" href="https://github.com/omn0mn0m/mion/issues">Report a Bug</a>
	  </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Developed by
    <a class="text-light" href="https://anilist.co/user/omn0mn0m"> omn0mn0m</a> |
    <a class="text-light" href="https://github.com/omn0mn0m/Mion">GitHub</a>

    
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">
    
  </div>

</footer>
<!-- Footer -->
