<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Mion - Challenge Tools</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Per page CSS -->
  {% block style %}
  {% endblock style %}
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body class="bg-light">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homepage:index' %}">Mion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <a class="nav-item nav-link" href="{% url 'awc:index' %}">Anime Challenge Tools</a>
      <a class="nav-item nav-link" href="{% url 'awc:index' %}">Manga Challenge Tools</a>

      {% if not home %}
      {% if user.name %}
      <a class="nav-item nav-link pull-right" href="{% url 'awc:logout' %}">Log out: {{ user.name }}</a>
      {% else %}
      <a class="nav-item nav-link" href="https://anilist.co/api/v2/oauth/authorize?client_id={{ anilist_client_id  }}&redirect_uri={{ anilist_redirect_uri }}&response_type=code">Login with AniList</a>
      {% endif %}
      {% endif %}
    </div>
  </nav>
  <div class="container-fluid">
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  </div>

  {% include "./components/footer.html" %}

  <!-- Per page JS -->
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>
