<!-- Footer -->
<footer class="page-footer font-small bg-primary text-light pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Mion - Challenge Tools</h5>
        <p>Let this old man help you with your challenges.</p>

	<p>Rules</p>

	<ol>
	  <li>Club members must strive for first place with a full-hearted attitude.</li>
	  <li>As a club member, you must do whatever it takes to win (which includes playing unfair sometimes).</li>
	  <li>You must go through the punishment no matter what.</li>
	</ol>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tools</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-light" href="{% url 'awc:index' %}">AWC</a>
          </li>
	  <li>
	    <a class="text-light" href="{% url 'awc:index' %}">MRC</a>
	  </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">AWC</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-light" href="https://awc.nymh.moe/index">Website</a>
          </li>
          <li>
            <a class="text-light" href="https://discordapp.com/invite/6eGstFT">Discord</a>
          </li>
	  <li>
	    <a class="text-light" href="https://anilist.co/activity/26266744">AWC Challenges</a>
	  </li>
	  <li>
	    <a class="text-light" href="https://anilist.co/activity/29647185">MRC Challenges</a>
	  </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Developed by
    <a class="text-light" href="https://omn0mn0m.github.io"> omn0mn0m</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
