<div class="card my-3" id="requirement-card-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">
  <div class="card-header">
    <div class="row no-gutters">
      <div class="col"><h4>{% if requirement.bonus %}Bonus{% endif %} Requirement {{ requirement.number }}</h4></div>
      <div class="col">
	{% if not requirement.force_raw_edit %}
	<button type="button" class="btn btn-primary btn-sm float-right" id="update-requirement-button-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" onclick="updateFromAnilist(this)" data-req-num="{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" data-completed="{{ requirement.media.mediaListEntry.status }}" data-start="{{ requirement.media.mediaListEntry.startedAt }}" data-finish="{{ requirement.media.mediaListEntry.completedAt }}">Update From Anilist</button>
	{% endif %}
      </div>
    </div>
    {% if requirement.text != " " and not requirement.force_raw_edit %}
    <div class="row">
      <div class="col"><h6>{{ requirement.text }}</h6></div>
    </div>
    {% endif %}
  </div>
  <div class="card-body">
    {% if requirement.force_raw_edit %}
    <div class="row no-gutters">
      <div class="col">
	<h5>Raw Edit</h5>
	<textarea class="autoExpand form-control" name="requirement-raw-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-raw-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" style="width:100%" placeholder="Extra">{{ requirement.raw_requirement }}</textarea>
      </div>
    {% else %}
    <div class="row no-gutters">
      <div class="col-md">
	{% if requirement.media %}
	<h4 class="card-title" name="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}"><a href="{{ requirement.link }}" target="_blank" id="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">{{ requirement.media.title.userPreferred }}</a></h4>
	
	<input type="hidden" name="requirement-anime-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-anime-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value="{{ requirement.media.title.userPreferred }}">
	<input type="hidden" name="requirement-link-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-link-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value="{{ requirement.link }}">
	{% else %}
	<h4 class="card-title" name="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}"><a href="https://anilist.co/anime/00000" target="_blank" id="requirement-title-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">Anime Title</a></h4>
	
	<input type="hidden" name="requirement-anime-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-anime-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value="Anime Title">
	<input type="hidden" name="requirement-link-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-link-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value="https://anilist.co/anime/00000">
	{% endif %}
      </div>
      <div class="col-md text-right">
	{% if not requirement.has_set_anime %}<a class="card-link" href="#anime-search-modal-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" data-toggle="modal">Change Anime</a>{% endif %}
      </div>
    </div>
    <div class="form-group form-row">
      <select class="col-md-3 form-control mr-2" name="completed-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="completed-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">
        {% for key, value in response.legend.items %}
        <option value="{{ value }}" {% if requirement.completed == value %}selected{% endif %}>{{ key }}</option>
        {% endfor %}
      </select>
      
      <label class="col-md-1 col-form-label" for="requirement-start-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">Start</label>	
      <input type="date" class="col form-control mr-2" name="requirement-start-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-start-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value={{ requirement.start }}>
      
      <label class="col-md-1 col-form-label" for="requirement-finish-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">Finish</label>
      <input type="date" class="col form-control" name="requirement-finish-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-finish-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" value={{ requirement.finish }}>
      {% if requirement.mode != "D" %}
      <label class="col-md-1 col-form-label ml-2" for="mode-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">Mode</label>
      <select class="col form-control" name="mode-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="mode-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}">
	<option value="E" {% if requirement.mode == "E" %}selected{% endif %}>Easy</option>
	<option value="N" {% if requirement.mode == "N" %}selected{% endif %}>Normal</option>
	<option value="H" {% if requirement.mode == "H" %}selected{% endif %}>Hard</option>
	<option value="B" {% if requirement.mode == "B" %}selected{% endif %}>Bonus</option>
      </select>
      {% endif %}
      {% endif %}
    </div>
    {% if not requirement.force_raw_edit %}
    <div class="form-row no-gutters">
      <textarea class="autoExpand form-control" name="requirement-extra-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" id="requirement-extra-{% if requirement.bonus %}bonus-{% endif %}{{ requirement.number }}" style="width:100%" placeholder="Extra">{{ requirement.extra }}</textarea>
    </div>
    {% endif %}
  </div>
</div>
